.elementor-7 .elementor-element.elementor-element-a51e308 {
	margin-top:0rem;
	margin-bottom:-6rem;
}
.elementor-7 .elementor-element.elementor-element-fbb5d29 {
	width:var( --container-widget-width,112.121% );
	max-width:112.121%;
	--container-widget-width:112.121%;
	--container-widget-flex-grow:0;
	z-index:3;
}
.elementor-bc-flex-widget .elementor-7 .elementor-element.elementor-element-b43e896.elementor-column .elementor-widget-wrap {
	align-items:center;
}
.elementor-7 .elementor-element.elementor-element-b43e896.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content:center;
	align-items:center;
}
.elementor-7 .elementor-element.elementor-element-669e44a .elementor-menu-toggle {
	margin-left:auto;
}
.elementor-7 .elementor-element.elementor-element-669e44a .elementor-nav-menu .elementor-item {
	font-family:"Open Sans",Sans-serif;
	font-weight:600;
}
.elementor-7 .elementor-element.elementor-element-669e44a .elementor-nav-menu--main .elementor-item {
	color:var( --e-global-color-14c2ee5 );
	fill:var( --e-global-color-14c2ee5 );
}
.elementor-7 .elementor-element.elementor-element-669e44a .elementor-nav-menu--main .elementor-item:hover,.elementor-7 .elementor-element.elementor-element-669e44a .elementor-nav-menu--main .elementor-item.elementor-item-active,.elementor-7 .elementor-element.elementor-element-669e44a .elementor-nav-menu--main .elementor-item.highlighted,.elementor-7 .elementor-element.elementor-element-669e44a .elementor-nav-menu--main .elementor-item:focus {
	color:var( --e-global-color-14c2ee5 );
	fill:var( --e-global-color-14c2ee5 );
}
.elementor-7 .elementor-element.elementor-element-669e44a .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,.elementor-7 .elementor-element.elementor-element-669e44a .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
	background-color:var( --e-global-color-14c2ee5 );
}
.elementor-7 .elementor-element.elementor-element-669e44a .e--pointer-framed .elementor-item:before,.elementor-7 .elementor-element.elementor-element-669e44a .e--pointer-framed .elementor-item:after {
	border-color:var( --e-global-color-14c2ee5 );
}
.elementor-7 .elementor-element.elementor-element-669e44a div.elementor-menu-toggle {
	color:var( --e-global-color-14c2ee5 );
}
.elementor-7 .elementor-element.elementor-element-669e44a div.elementor-menu-toggle svg {
	fill:var( --e-global-color-14c2ee5 );
}
.elementor-7 .elementor-element.elementor-element-7581127>.elementor-container {
	min-height:924px;
}
.elementor-7 .elementor-element.elementor-element-7581127:not(.elementor-motion-effects-element-type-background),.elementor-7 .elementor-element.elementor-element-7581127>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color:#000000;
}
.elementor-7 .elementor-element.elementor-element-7581127>.elementor-background-overlay {
	background-color:#000000;
	background-image:url("../../2024/01/photo_2024-01-26_00-04-21.jpg");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	opacity:0.5;
	transition:background 0.3s,border-radius 0.3s,opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-7581127 {
	transition:background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
}
.elementor-7 .elementor-element.elementor-element-e419c22 {
	transition:background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
}
.elementor-7 .elementor-element.elementor-element-e419c22>.elementor-background-overlay {
	transition:background 0.3s,border-radius 0.3s,opacity 0.3s;
}
.elementor-bc-flex-widget .elementor-7 .elementor-element.elementor-element-56acfcf.elementor-column .elementor-widget-wrap {
	align-items:center;
}
.elementor-7 .elementor-element.elementor-element-56acfcf.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content:center;
	align-items:center;
}
.elementor-7 .elementor-element.elementor-element-56acfcf>.elementor-element-populated,.elementor-7 .elementor-element.elementor-element-56acfcf>.elementor-element-populated>.elementor-background-overlay,.elementor-7 .elementor-element.elementor-element-56acfcf>.elementor-background-slideshow {
	border-radius:50px 50px 50px 50px;
}
.elementor-7 .elementor-element.elementor-element-22b0f02 .elementor-heading-title {
	color:#FFFFFF;
	font-family:"Sigmar One",Sans-serif;
	font-size:65px;
	font-weight:600;
}
.elementor-7 .elementor-element.elementor-element-e06ff29 .elementor-heading-title {
	color:#FFFFFF;
	font-family:"Sigmar One",Sans-serif;
	font-size:37px;
	font-weight:600;
}
.elementor-7 .elementor-element.elementor-element-8002400 {
	color:#FFFFFF;
	font-family:"Open Sans",Sans-serif;
	font-weight:500;
}
.elementor-bc-flex-widget .elementor-7 .elementor-element.elementor-element-fd00cbc.elementor-column .elementor-widget-wrap {
	align-items:center;
}
.elementor-7 .elementor-element.elementor-element-fd00cbc.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content:center;
	align-items:center;
}
.elementor-7 .elementor-element.elementor-element-fd00cbc>.elementor-element-populated,.elementor-7 .elementor-element.elementor-element-fd00cbc>.elementor-element-populated>.elementor-background-overlay,.elementor-7 .elementor-element.elementor-element-fd00cbc>.elementor-background-slideshow {
	border-radius:50px 50px 50px 50px;
}
.elementor-7 .elementor-element.elementor-element-bdbc754 {
	padding:50px 0px 50px 0px;
}
.elementor-7 .elementor-element.elementor-element-b45543b:not(.elementor-motion-effects-element-type-background),.elementor-7 .elementor-element.elementor-element-b45543b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color:var( --e-global-color-14c2ee5 );
}
.elementor-7 .elementor-element.elementor-element-b45543b,.elementor-7 .elementor-element.elementor-element-b45543b>.elementor-background-overlay {
	border-radius:25px 25px 25px 25px;
}
.elementor-7 .elementor-element.elementor-element-b45543b {
	transition:background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
	padding:30px 30px 30px 30px;
}
.elementor-7 .elementor-element.elementor-element-b45543b>.elementor-background-overlay {
	transition:background 0.3s,border-radius 0.3s,opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-ac8f954 .elementor-heading-title {
	color:var( --e-global-color-383b1b3 );
	font-family:"Open Sans",Sans-serif;
	font-size:47px;
	font-weight:900;
}
.elementor-7 .elementor-element.elementor-element-32769cc {
	color:var( --e-global-color-383b1b3 );
	font-family:"Open Sans",Sans-serif;
	font-weight:500;
}
.elementor-7 .elementor-element.elementor-element-2d66c48 {
	color:var( --e-global-color-383b1b3 );
	font-family:"Open Sans",Sans-serif;
	font-weight:500;
}
.elementor-7 .elementor-element.elementor-element-1d9913b .elementor-button {
	font-family:"Open Sans",Sans-serif;
	font-size:12px;
	font-weight:900;
	fill:var( --e-global-color-383b1b3 );
	color:var( --e-global-color-383b1b3 );
	background-color:#FFFFFF;
	border-radius:64px 64px 64px 64px;
	box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
	padding:1rem 3rem 01rem 3rem;
}
.elementor-7 .elementor-element.elementor-element-1d9913b>.elementor-widget-container {
	margin:0px 10px 0px 0px;
	padding:0rem 0rem 0rem 0rem;
}
.elementor-7 .elementor-element.elementor-element-1d9913b {
	width:initial;
	max-width:initial;
}
.elementor-7 .elementor-element.elementor-element-ebff48d .elementor-button {
	font-family:"Open Sans",Sans-serif;
	font-size:12px;
	font-weight:900;
	fill:var( --e-global-color-383b1b3 );
	color:var( --e-global-color-383b1b3 );
	background-color:#FFFFFF;
	border-radius:64px 64px 64px 64px;
	box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
	padding:1rem 3rem 01rem 3rem;
}
.elementor-7 .elementor-element.elementor-element-ebff48d>.elementor-widget-container {
	margin:0px 10px 0px 0px;
	padding:0rem 0rem 0rem 0rem;
}
.elementor-7 .elementor-element.elementor-element-ebff48d {
	width:initial;
	max-width:initial;
}
.elementor-7 .elementor-element.elementor-element-ed4030d .elementor-button {
	font-family:"Open Sans",Sans-serif;
	font-size:12px;
	font-weight:900;
	fill:var( --e-global-color-383b1b3 );
	color:var( --e-global-color-383b1b3 );
	background-color:#FFFFFF;
	border-radius:64px 64px 64px 64px;
	box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
	padding:1rem 3rem 01rem 3rem;
}
.elementor-7 .elementor-element.elementor-element-ed4030d>.elementor-widget-container {
	margin:0px 10px 0px 0px;
	padding:0rem 0rem 0rem 0rem;
}
.elementor-7 .elementor-element.elementor-element-ed4030d {
	width:initial;
	max-width:initial;
}
.elementor-bc-flex-widget .elementor-7 .elementor-element.elementor-element-3d23f90.elementor-column .elementor-widget-wrap {
	align-items:center;
}
.elementor-7 .elementor-element.elementor-element-3d23f90.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content:center;
	align-items:center;
}
.elementor-7 .elementor-element.elementor-element-61b1244 .elementor-wrapper {
	--video-aspect-ratio:1.77777;
}
.elementor-7 .elementor-element.elementor-element-c2e7142 {
	margin-top:0px;
	margin-bottom:0px;
}
.elementor-7 .elementor-element.elementor-element-a46e012:not(.elementor-motion-effects-element-type-background),.elementor-7 .elementor-element.elementor-element-a46e012>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color:transparent;
	background-image:linear-gradient(150deg,#c18734 34%,#a8af3f 100%);
}
.elementor-7 .elementor-element.elementor-element-a46e012,.elementor-7 .elementor-element.elementor-element-a46e012>.elementor-background-overlay {
	border-radius:40px 40px 40px 40px;
}
.elementor-7 .elementor-element.elementor-element-a46e012 {
	box-shadow:0px -9px 10px -5px rgba(0,0,0,0.5);
	transition:background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
	padding:50px 50px 50px 50px;
}
.elementor-7 .elementor-element.elementor-element-a46e012>.elementor-background-overlay {
	transition:background 0.3s,border-radius 0.3s,opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-4a7c72a {
	text-align:center;
}
.elementor-7 .elementor-element.elementor-element-4a7c72a .elementor-heading-title {
	color:var( --e-global-color-14c2ee5 );
	font-family:"Open Sans",Sans-serif;
	font-size:47px;
	font-weight:900;
}
.elementor-7 .elementor-element.elementor-element-0f6697d .elementor-counter-number-wrapper {
	color:var( --e-global-color-14c2ee5 );
	font-family:"Open Sans",Sans-serif;
	font-size:58px;
	font-weight:900;
}
.elementor-7 .elementor-element.elementor-element-0f6697d .elementor-counter-title {
	color:var( --e-global-color-14c2ee5 );
	font-family:"Open Sans",Sans-serif;
	font-weight:700;
}
.elementor-7 .elementor-element.elementor-element-61b9d13 .elementor-button {
	font-family:"Open Sans",Sans-serif;
	font-size:12px;
	font-weight:900;
	fill:var( --e-global-color-383b1b3 );
	color:var( --e-global-color-383b1b3 );
	background-color:#FFFFFF;
	border-radius:64px 64px 64px 64px;
	box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
	padding:1rem 3rem 01rem 3rem;
}
.elementor-7 .elementor-element.elementor-element-61b9d13>.elementor-widget-container {
	margin:0px 10px 0px 0px;
	padding:0rem 0rem 0rem 0rem;
}
.elementor-7 .elementor-element.elementor-element-564092a:not(.elementor-motion-effects-element-type-background),.elementor-7 .elementor-element.elementor-element-564092a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color:transparent;
	background-image:linear-gradient(150deg,#c18734 34%,#a8af3f 100%);
}
.elementor-7 .elementor-element.elementor-element-564092a,.elementor-7 .elementor-element.elementor-element-564092a>.elementor-background-overlay {
	border-radius:40px 40px 40px 40px;
}
.elementor-7 .elementor-element.elementor-element-564092a {
	box-shadow:0px -9px 10px -5px rgba(0,0,0,0.5);
	transition:background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
	padding:50px 50px 50px 50px;
}
.elementor-7 .elementor-element.elementor-element-564092a>.elementor-background-overlay {
	transition:background 0.3s,border-radius 0.3s,opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-a95cc36 {
	text-align:center;
}
.elementor-7 .elementor-element.elementor-element-a95cc36 .elementor-heading-title {
	color:var( --e-global-color-14c2ee5 );
	font-family:"Open Sans",Sans-serif;
	font-size:47px;
	font-weight:900;
}
.elementor-7 .elementor-element.elementor-element-6cd4ceb .elementor-counter-number-wrapper {
	color:var( --e-global-color-14c2ee5 );
	font-family:"Open Sans",Sans-serif;
	font-size:58px;
	font-weight:900;
}
.elementor-7 .elementor-element.elementor-element-6cd4ceb .elementor-counter-title {
	color:var( --e-global-color-14c2ee5 );
	font-family:"Open Sans",Sans-serif;
	font-weight:700;
}
.elementor-7 .elementor-element.elementor-element-241c4ad .elementor-button {
	font-family:"Open Sans",Sans-serif;
	font-size:12px;
	font-weight:900;
	fill:var( --e-global-color-383b1b3 );
	color:var( --e-global-color-383b1b3 );
	background-color:#FFFFFF;
	border-radius:64px 64px 64px 64px;
	box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
	padding:1rem 3rem 01rem 3rem;
}
.elementor-7 .elementor-element.elementor-element-241c4ad>.elementor-widget-container {
	margin:0px 10px 0px 0px;
	padding:0rem 0rem 0rem 0rem;
}
.elementor-7 .elementor-element.elementor-element-d3612d3:not(.elementor-motion-effects-element-type-background),.elementor-7 .elementor-element.elementor-element-d3612d3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color:transparent;
	background-image:linear-gradient(115deg,#c18734 0%,#a8af3f 100%);
}
.elementor-7 .elementor-element.elementor-element-d3612d3 {
	transition:background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
	margin-top:0px;
	margin-bottom:0px;
	padding:100px 0px 0px 0px;
}
.elementor-7 .elementor-element.elementor-element-d3612d3>.elementor-background-overlay {
	transition:background 0.3s,border-radius 0.3s,opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-568a055 {
	text-align:center;
	color:#FFFFFF;
	font-family:"Open Sans",Sans-serif;
	font-weight:500;
}
.elementor-7 .elementor-element.elementor-element-81c9cae>.elementor-container {
	max-width:778px;
}
.elementor-7 .elementor-element.elementor-element-8f47c1a img {
	filter:brightness( 100% ) contrast( 200% ) saturate( 0% ) blur( 0.6px ) hue-rotate( 0deg );
	transition-duration:0.5s;
}
.elementor-7 .elementor-element.elementor-element-8f47c1a:hover img {
	filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}
.elementor-7 .elementor-element.elementor-element-9eb1442 img {
	filter:brightness( 100% ) contrast( 200% ) saturate( 0% ) blur( 0.6px ) hue-rotate( 0deg );
	transition-duration:0.5s;
}
.elementor-7 .elementor-element.elementor-element-9eb1442:hover img {
	filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}
.elementor-7 .elementor-element.elementor-element-7f13312 img {
	filter:brightness( 100% ) contrast( 200% ) saturate( 0% ) blur( 0.6px ) hue-rotate( 0deg );
	transition-duration:0.5s;
}
.elementor-7 .elementor-element.elementor-element-7f13312:hover img {
	filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}
.elementor-7 .elementor-element.elementor-element-7fec031 img {
	filter:brightness( 100% ) contrast( 200% ) saturate( 0% ) blur( 0.6px ) hue-rotate( 0deg );
	transition-duration:0.5s;
}
.elementor-7 .elementor-element.elementor-element-7fec031:hover img {
	filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}
.elementor-7 .elementor-element.elementor-element-07b80c3 img {
	filter:brightness( 100% ) contrast( 200% ) saturate( 0% ) blur( 0.6px ) hue-rotate( 0deg );
	transition-duration:0.5s;
}
.elementor-7 .elementor-element.elementor-element-07b80c3:hover img {
	filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}
.elementor-7 .elementor-element.elementor-element-3891490 {
	text-align:center;
	color:#FFFFFF;
	font-family:"Open Sans",Sans-serif;
	font-weight:500;
}
.elementor-7 .elementor-element.elementor-element-e8fb4b7 {
	margin-top:50px;
	margin-bottom:0px;
}
.elementor-bc-flex-widget .elementor-7 .elementor-element.elementor-element-82b24cd.elementor-column .elementor-widget-wrap {
	align-items:center;
}
.elementor-7 .elementor-element.elementor-element-82b24cd.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content:center;
	align-items:center;
}
.elementor-7 .elementor-element.elementor-element-6bb3b88 {
	text-align:center;
	color:#FFFFFF;
	font-family:"Open Sans",Sans-serif;
	font-weight:500;
}
@media(max-width:1024px) {
	.elementor-7 .elementor-element.elementor-element-669e44a {
		z-index:2;
	}
}
@media(max-width:767px) {
	.elementor-7 .elementor-element.elementor-element-8cdc5c7 {
		width:50%;
	}
	.elementor-7 .elementor-element.elementor-element-b43e896 {
		width:50%;
	}
	.elementor-7 .elementor-element.elementor-element-22b0f02 {
		text-align:center;
	}
	.elementor-7 .elementor-element.elementor-element-22b0f02 .elementor-heading-title {
		font-size:40px;
	}
	.elementor-7 .elementor-element.elementor-element-e06ff29 {
		text-align:center;
	}
	.elementor-7 .elementor-element.elementor-element-e06ff29 .elementor-heading-title {
		font-size:40px;
	}
	.elementor-7 .elementor-element.elementor-element-8002400 {
		text-align:center;
	}
	.elementor-7 .elementor-element.elementor-element-ac8f954 {
		text-align:center;
	}
	.elementor-7 .elementor-element.elementor-element-ac8f954 .elementor-heading-title {
		font-size:31px;
	}
	.elementor-7 .elementor-element.elementor-element-32769cc {
		text-align:center;
	}
	.elementor-7 .elementor-element.elementor-element-2d66c48 {
		text-align:center;
	}
	.elementor-7 .elementor-element.elementor-element-1d9913b>.elementor-widget-container {
		margin:0px 0px 10px 0px;
	}
	.elementor-7 .elementor-element.elementor-element-1d9913b {
		--container-widget-width:100%;
		--container-widget-flex-grow:0;
		width:var( --container-widget-width,100% );
		max-width:100%;
	}
	.elementor-7 .elementor-element.elementor-element-ebff48d>.elementor-widget-container {
		margin:0px 0px 10px 0px;
	}
	.elementor-7 .elementor-element.elementor-element-ebff48d {
		--container-widget-width:100%;
		--container-widget-flex-grow:0;
		width:var( --container-widget-width,100% );
		max-width:100%;
	}
	.elementor-7 .elementor-element.elementor-element-ed4030d>.elementor-widget-container {
		margin:0px 0px 10px 0px;
	}
	.elementor-7 .elementor-element.elementor-element-ed4030d {
		--container-widget-width:100%;
		--container-widget-flex-grow:0;
		width:var( --container-widget-width,100% );
		max-width:100%;
	}
	.elementor-7 .elementor-element.elementor-element-4a7c72a .elementor-heading-title {
		font-size:32px;
	}
	.elementor-7 .elementor-element.elementor-element-a95cc36 .elementor-heading-title {
		font-size:32px;
	}
	.elementor-7 .elementor-element.elementor-element-568a055 {
		text-align:center;
	}
	.elementor-7 .elementor-element.elementor-element-2a7ff1a {
		width:20%;
	}
	.elementor-7 .elementor-element.elementor-element-2ce1e11 {
		width:20%;
	}
	.elementor-7 .elementor-element.elementor-element-75a396e {
		width:20%;
	}
	.elementor-7 .elementor-element.elementor-element-f2fae20 {
		width:20%;
	}
	.elementor-7 .elementor-element.elementor-element-8183a1d {
		width:20%;
	}
	.elementor-7 .elementor-element.elementor-element-6bb3b88 {
		font-size:11px;
	}
}
@media(min-width:768px) {
	.elementor-7 .elementor-element.elementor-element-8cdc5c7 {
		width:15.446%;
	}
	.elementor-7 .elementor-element.elementor-element-b43e896 {
		width:84.554%;
	}
	.elementor-7 .elementor-element.elementor-element-f7ae21e {
		width:67.143%;
	}
	.elementor-7 .elementor-element.elementor-element-3d23f90 {
		width:32.814%;
	}
}
@media(max-width:1024px) and (min-width:768px) {
	.elementor-7 .elementor-element.elementor-element-0e63697 {
		width:100%;
	}
	.elementor-7 .elementor-element.elementor-element-4cabd85 {
		width:100%;
	}
}
@media(min-width:1025px) {
	.elementor-7 .elementor-element.elementor-element-7581127>.elementor-background-overlay {
		background-attachment:scroll;
	}
}
/* Start custom CSS for html,class:.elementor-element-dddbc59 */.audio-player-container {
	position:fixed;
	bottom:20px;
	left:20px;
	background-color:#fff;
	border-radius:10px;
	box-shadow:0 4px 8px rgba(0,0,0,0.2);
	display:flex;
	align-items:center;
	padding:10px;
}
.audio-player {
	display:flex;
	align-items:center;
}
.album-art {
	width:80px;
	height:80px;
	border-radius:5px;
	object-fit:cover;
	margin-right:15px;
}
.audio-info h3,.audio-info p {
	margin:0;
	padding: 0;
}
.play-pause-btn {
	background-color:transparent;
	border:none;
	color:#fff;
	height:54px;
	/* Adjusted to proper units */
	width:54px;
	/* Adjusted to proper units */
	border-radius:50%;
	/* Equivalent to rounded-full */
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
	transition:transform 0.2s;
	outline:none;
	/* To remove outline on focus */
}
.play-pause-btn:hover {
	transform:scale(1.10);
	/* Equivalent to hover:scale-110 */
	background-color:transparent;
}
.play-pause-btn:active,.play-pause-btn:focus {
	transform:scale(0.95);
	/* Equivalent to active:scale-95 */
	background-color:transparent;
	border:none;
	outline:none;
	box-shadow:none;
	/* Removes any shadow or outline on focus/active */
}
.icon {
	fill:#202020;
	width:44px;
	/* Adjusted for better proportions */
	height:44px;
	/* Adjusted for better proportions */
}
.visualizer {
	display:flex;
	align-items:flex-end;
	justify-content:space-between;
	width:30px;
	/* Adjust as needed */
	height:30px;
	/* Adjust as needed */
	margin-right:15px;
}
.visualizer span {
	display:block;
	width:6px;
	background-color:#007bff;
	border-radius:2px;
	animation:histogramAnimation 1s ease-in-out infinite;
	/* Remove the initial 'paused' state to allow animations to be controlled via JS */
	height:10%;
	/* Initial height */
}
.visualizer span:nth-child(1) {
	animation-delay:0s;
	animation-duration:0.5s;
}
.visualizer span:nth-child(2) {
	animation-delay:0.1s;
	animation-duration:0.7s;
}
.visualizer span:nth-child(3) {
	animation-delay:0.2s;
	animation-duration:0.6s;
}
@keyframes histogramAnimation {
	0%,100% {
		height:10%;
	}
	50% {
		height: 100%;
	}
}
.static-visualizer {
	display:flex;
	align-items:flex-end;
	justify-content:space-between;
	width:30px;
	/* Adjust as needed */
	height:30px;
	/* Adjust as needed */
	margin-right:15px;
}
.static-visualizer span {
	display:block;
	width:6px;
	height:10px;
	/* Fixed height */
	background-color:#007bff;
	border-radius:2px;
}
.control-btn {
	background-color:transparent;
	border:none;
	cursor:pointer;
	padding:8px;
	display:inline-flex;
	align-items:center;
	justify-content: center;
}
.icon {
	fill:#202020;
	/* Icon color */
	width:24px;
	height:24px;
}
/* Additional styling for hover,active states can be added here */
.control-btn:hover .icon {
	fill: #007bff;
	/* Change color on hover */
}
.control-btn:hover {
	transform:scale(1.10);
	/* Equivalent to hover:scale-110 */
	background-color:transparent;
}
.control-btn:active,.control-btn:focus {
	transform:scale(0.95);
	/* Equivalent to active:scale-95 */
	background-color:transparent;
	border:none;
	outline:none;
	box-shadow:none;
	/* Removes any shadow or outline on focus/active */
}
.visualizer-container {
	display: none;
}
/* End custom CSS */